body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(8, 31, 66);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  background-color: rgb(10, 10, 58);
  overflow: hidden;
 
}

.avatar {
  background-color: rgb(10, 10, 58);
  overflow: hidden;
}


.chat-container {
  background-color: rgb(10, 10, 58);
  overflow: hidden;
  min-height: 85vh;
  padding:20px; 
  min-width: 85vw;
}

.chat {
  height: 100vh;
  width:100vw
  
}

.bottom {
  position: fixed;
  min-width : 62vw;
  bottom: 0;
  margin-bottom: 10vh;
}

.chat-messages {
  overflow-y: scroll;
  max-height: 58vh;
  width: 64vw;
  overflow-x: hidden;

}

/* .chat-header {
  background-color: rgba(180, 180, 197, 0.485);
} */

.contact {
  background-color: rgba(180, 180, 197, 0.485);
  

}

.current-user {
  position: fixed;
  min-width : 15vw;
  bottom: 0;
  margin-bottom: 10vh;
}
